body {
    background-image: url(./weather2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    color: white;
    
}
h2{
    display: block;
    text-align: center;
    text-size-adjust: 10px;
}

#cityNameBar {
    text-align: left;
    text-size-adjust: 30px;
}

.specific-buttons {
    display: flex;
    flex-wrap: wrap;
}

#text-box {
    background-color: white;
    align-items: center
    ;
}

.current-temp {
    display: block;
    text-align: center;
    
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    
}

#weather-card {
    display: block;
    align-self: center;
}

h5 {
    font-family: cursive;
}

.card {
    width: fit-content;
    padding: 7%;
    display: flex;
    justify-content: space-between;
    margin: 5%;

    
}

.cards {
    display: flex;
    justify-content: space-between;
}
.cardA {
    padding: 5px;
}